##########################################
#    arquivos derivados ignoráveis...    #
##########################################

*.gz
*.pdf
*.log
*.aux
*.toc

*.nav

*.out

*.snm

Seminário Mflab/apresentacao_2\.blg

Seminário Mflab/apresentacao_2\.bbl
