##########################################
#    arquivos derivados ignoráveis...    #
##########################################

*.gz
*.log
*.aux
*.toc

*.nav

*.out

*.snm

Seminário Mflab/apresentacao_2\.blg

Seminário Mflab/apresentacao_2\.bbl

congresso europeu/artigo\.pdf

ENCIT2018/apresentacao_2\.pdf

Latex_Relatório_pivic/Relatorio\.pdf

projeto statera/apresentacao_2\.pdf

SEMAT/artigo\.pdf

Seminário Mflab/apresentacao_2\.pdf

Seminário Mflab/apresentasao_eptt2018\.pdf

Tension/COBEM_2019_a/cobem2019\.pdf

ENCIT2018/apresentasao\.pdf
